@*@model XmlSigner.Data.Models.XmlFile*@

@model XmlSigner.ViewModels.XmlFileAddViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add an XML File</h1>

<h4>Xml File</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="XmlFiles" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="XmlFile" class="control-label"></label>
                <input class="form-control" asp-for="XmlFile">
                <span asp-validation-for="XmlFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousFileId" class="control-label"></label>
                @*
                <select>
                    <option val="">--Select--</option>
                    foreach(item in Model.DepartmentUnits)
                    {
                    <option val="@PreviousFileId.">@item.title</option>}
                </select>
                @Html.DropDownList("PreviousFileId", new SelectList(ViewBag.PreviousFileId), "--Select--")            
                *@
            <select asp-for="PreviousFileId" class="form-control" asp-items="ViewBag.PreviousFileId">
                <option disabled selected>--- SELECT ---</option>
            </select>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
